<button type="button" class="flex0 bottlecap-button" data-tooltip="{{toolTip}}" data-tooltip-direction="UP">
  <div class="bottlecap-number">{{bottleCapNumber}}</div>
  <img src="modules/bottlecap/assets/bottlecap-draft-3.svg">
</button>
