<div class="bottlecap-chat-message">
  <div class="bottlecap-message-header">
    {{header}}
  </div>
  <div class="bottlecap-message-container flexrow">
    <img class="bottlecap-thumb" src="{{cap.img}}">
    <div class="bottlecap-name-context-container flexcol">
      <div class="bottlecap-message-name">{{cap.name}}</div>
      <div class="bottlecap-message-context">{{cap.context}}</div>
    </div>
  </div>
</div>
