/* Bottle Cap List and Config */
:root {
  /* Text/icon/input colors */
  --bottlecap-text-white: rgba(255, 255, 255, 0.9);
  --bottlecap-red: #bb2345;
  --bottlecap-context-gray: rgba(255, 255, 255, 0.719);
  --bottlecap-placeholder-gray: rgba(255, 255, 255, 0.6);

  /* List colors */
  --bottlecap-blue: #121d2b;
  --bottlecap-lightblue: #303d4e;
  --bottlecap-darkblue: #191a1b;

  /* Tab colors */
  --bottlecap-green: darkgreen;
  --bottlecap-lightgreen: lightgreen;
  --bottlecap-darkgreen: rgb(24, 77, 24);
  --bottlecap-verydarkgreen: rgb(12, 43, 12);
}

.bottlecap {
  /* Foundry overrides borrowed from SmallTime module */
  .window-content {
    overflow-y: auto;
    overflow-x: hidden;

    color: var(--bottlecap-text-white);

    background: none;
    background-attachment: unset;

    padding: 0;
    border: none;
    margin: 0;

    box-shadow: none;
  }

  /* Tab styling */
  nav.tabs {
    text-align: center;

    background-color: var(--bottlecap-verydarkgreen);

    border: none;
    padding: 0.3rem 0.3rem 0 0.3rem;
    overflow: hidden;

    > a {
      position: relative;

      color: var(--bottlecap-text-white);

      border-color: var(--bottlecap-green);
      border-style: solid solid none solid;
      border-width: 2px 2px 0 2px;
      border-radius: 5px 5px 0 0;

      transition: 250ms ease-in-out;
      transition-property: all;

      &:after {
        content: "";
        position: absolute;
        inset: 0;
        opacity: 0.6;
        border-radius: inherit;
        box-shadow: 0 0 1em 0.5em var(--bottlecap-green);
        transition: 250ms ease-in-out;
        transition-property: opacity;
      }

      &:hover,
      &:focus {
        text-shadow: 0 0 6px var(--bottlecap-lightgreen);
      }

      &.active {
        background-color: var(--bottlecap-darkgreen);
        text-shadow: 0 0 6px var(--bottlecap-lightgreen) !important;
      }

      > .tab-text {
        display: block;
        padding: 0.3rem;
      }
    }
  }

  /* List styling */
  ol.bottlecap-list {
    padding: 0;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    margin: 0;

    li {
      margin: 0;
    }

    .list-header {
      align-items: center;
      justify-content: space-between;
      background-color: var(--bottlecap-darkblue);
      padding: 0.3rem;

      .total {
        font-size: var(--font-size-16);
        text-align: center;
      }

      .select-player-container {
        flex: 5;
        padding: 0 0 0 0.3rem;
        text-align: center;
      }

      select {
        height: auto;

        color: inherit;
        background-color: var(--bottlecap-blue);
        border: 1px solid var(--color-dark-6);

        option {
          color: inherit;
          background-color: var(--bottlecap-lightblue);
        }
      }

      [data-action="resetUser"] {
        flex: 0 0 24px;
        padding: 4px;
      }
    }

    .list-item {
      align-items: center;
      background-color: var(--bottlecap-blue);
      padding: 0.3rem;

      &:nth-child(even) {
        background-color: var(--bottlecap-lightblue);
      }

      &:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
      }

      .thumb {
        flex: 0 0 36px;
      }

      &.setting {
        input,
        select,
        .filepicker {
          color: inherit;
          flex: 3;
        }

        > input::placeholder {
          color: var(--bottlecap-placeholder-gray);
        }

        > select option {
          color: inherit;
          background-color: var(--bottlecap-lightblue);
        }

        .settings-label {
          padding: 0 0.3rem 0 0;
        }

        .static-user {
          text-align: right;
          padding: 0 0.3rem 0 0;
        }
      }

      .name {
        flex: 3;
        padding: 0 0 0 0.3rem;

        .name-context {
          font-size: var(--font-size-12);
          color: var(--bottlecap-context-gray);
        }
      }

      > img {
        height: 36px;
        width: 36px;
      }
    }

    .action-list {
      text-align: center;

      [data-action-type="delete"] > i {
        color: var(--bottlecap-red);
      }
    }

    &[data-tab="graveyard"] .name {
      text-decoration: line-through;
    }
  }
}

.bottlecap-dialog {
  .bottlecap-confirm-content {
    text-align: center;
    background-color: var(--bottlecap-blue);
    padding: 0.3rem;
  }

  button {
    background-color: var(--bottlecap-darkblue) !important;
    color: var(--bottlecap-text-white) !important;
  }
}
