/* Canvas Button */
.bottlecap-button {
  display: block;
  position: relative;
  align-self: center;

  color: var(--bottlecap-text-white);
  line-height: normal;

  background: transparent;
  border: 0;
  padding: 0;

  .bottlecap-number {
    position: absolute;
    top: 0.3rem;
    left: 0.5rem;
  }

  > img {
    height: 24px;
    width: 24px;
    border: 0;
    max-width: none;
    display: block;
  }

  &:hover,
  &:focus {
    box-shadow: none;
    text-shadow: 0 0 5px red;
  }
}
