.bottlecap-chat-message {
  color: var(--bottlecap-text-white);
  border-radius: 5px;
}

.bottlecap-message-header {
  font-size: var(--font-size-15);
  text-align: center;
  padding: 0.2rem;
  background-color: var(--bottlecap-blue);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.bottlecap-message-container {
  align-items: center;
  padding: 0.3rem;
  background-color: var(--bottlecap-lightblue);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.bottlecap-message-container > img {
  height: 2.6rem;
  width: 2.6rem;
}

.bottlecap-name-context-container {
  padding: 0.3rem;
}

.bottlecap-message-context {
  font-size: var(--font-size-12);
  color: var(--bottlecap-context-gray);
}

.bottlecap-thumb {
  flex: 0 0 36px;
}
