/* Bottle Cap List and Config */
:root {
  /* Text/icon/input colors */
  --bottlecap-text-white: rgba(255, 255, 255, 0.9);
  --bottlecap-trash-red: rgb(146, 37, 37);
  --bottlecap-red: #bb2345;
  --bottlecap-context-gray: rgba(255, 255, 255, 0.719);
  --bottlecap-placeholder-gray: rgba(255, 255, 255, 0.6);

  /* List colors */
  --bottlecap-blue: #121d2b;
  --bottlecap-lightblue: #303d4e;
  --bottlecap-darkblue: #191a1b;

  /* Tab colors */
  --bottlecap-green: darkgreen;
  --bottlecap-lightgreen: lightgreen;
  --bottlecap-darkgreen: rgb(24, 77, 24);
  --bottlecap-verydarkgreen: rgb(12, 43, 12);
}

/* Foundry overrides borrowed from SmallTime module */
#bottlecap-list-app .window-content,
#bottlecap-config-form-app .window-content {
  padding: 0;
  background: none;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: none;
  border: none;
  background-attachment: unset;
  color: var(--bottlecap-text-white);
}

.bottlecap-form ol,
.bottlecap-config > ol {
  margin: 0;
}

/* Tab styling */
.bottlecap-tabs {
  background-color: var(--bottlecap-verydarkgreen);
  padding: 0.3rem 0.3rem 0 0.3rem;
  text-align: center;
  overflow: hidden;
}

.bottlecap-tabs > a {
  position: relative;
  border-color: var(--bottlecap-green);
  border-style: solid solid none solid;
  border-width: 2px 2px 0 2px;
  border-radius: 5px 5px 0 0;
  transition: 250ms ease-in-out;
  transition-property: all;
}

.bottlecap-tabs > a:after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.6;
  border-radius: inherit;
  box-shadow: 0 0 1em 0.5em var(--bottlecap-green);
  transition: 250ms ease-in-out;
  transition-property: opacity;
}

.bottlecap-tabs > a:hover,
.bottlecap-tabs > a:focus {
  text-shadow: 0 0 6px var(--bottlecap-lightgreen);
}

.bottlecap-tabs > a.active {
  background-color: var(--bottlecap-darkgreen);
  text-shadow: 0 0 6px var(--bottlecap-lightgreen);
}

.bottlecap-tabs > a > .bottlecap-tab-text {
  display: block;
  padding: 0.3rem;
}

/* List styling */
.bottlecap-list,
.bottlecap-settings-list {
  padding: 0;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.bottlecap-config button {
  background-color: var(--bottlecap-darkblue);
  color: inherit;
}

.bottlecap-list-header {
  align-items: center;
  background-color: var(--bottlecap-darkblue);
  padding: 0.3rem 0 0.3rem 0.3rem;
}

.bottlecap-list-item,
.bottlecap-settings-item {
  align-items: center;
  background-color: var(--bottlecap-blue);
  padding: 0.3rem 0 0.3rem 0.3rem;
}

.bottlecap-list-item:nth-child(even),
.bottlecap-settings-item:nth-child(even) {
  background-color: var(--bottlecap-lightblue);
}

.bottlecap-list-item:last-child,
.bottlecap-settings-item:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.bottlecap-settings-item > input,
.bottlecap-settings-item > select,
.bottlecap-settings-item > .bottlecap-filepicker {
  color: inherit;
  flex: 3;
}

.bottlecap-settings-item > .bottlecap-filepicker > * {
  color: inherit;
}

.bottlecap-settings-item > select option {
  color: inherit;
  background-color: var(--bottlecap-lightblue);
}

.bottlecap-settings-item > input::placeholder {
  color: var(--bottlecap-placeholder-gray);
}

.bottlecap-list-item > img {
  height: 36px;
  width: 36px;
}

.bottlecap-create,
.bottlecap-thumb {
  flex: 0 0 36px;
}

.bottlecap-create {
  text-align: center;
}

.bottlecap-name,
.bottlecap-name-label {
  flex: 3;
  padding: 0 0 0 0.3rem;
}

.bottlecap-name-context {
  font-size: var(--font-size-12);
  color: var(--bottlecap-context-gray);
}

[data-tab="graveyard"] .bottlecap-name-text,
[data-tab="graveyard"] .bottlecap-name-context {
  text-decoration: line-through;
}

.bottlecap-delete-label,
.bottlecap-action[data-action="delete"] {
  flex: 1;
  padding: 0 0.3rem 0 0;
  text-align: center;
}

.bottlecap-action[data-action="delete"] > i {
  color: var(--bottlecap-red);
}
