/* Bottle Cap List and Config */

/* Foundry overrides borrowed from SmallTime module */
#bottlecap-list-app .window-content,
#bottlecap-config-form-app .window-content {
  padding: 0;
  background: none;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: none;
  border: none;
  background-attachment: unset;
  color: rgba(255, 255, 255, 0.9);
}

.bottlecap-form ol,
.bottlecap-config > ol {
  margin: 0;
}

/* Tab styling */
.bottlecap-tabs {
  background-color: rgb(94, 103, 133);
  padding: 0.3rem 0.3rem 0 0.3rem;
  text-align: center;
}

.bottlecap-tabs > a {
  border-color: darkgray;
  border-style: solid solid none solid;
  border-width: 2px 2px 0 2px;
  border-radius: 5px 5px 0 0;
}

.bottlecap-tabs > a.active {
  border-color: lightgrey;
}

.bottlecap-tabs > a.active {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}

.bottlecap-tabs > a > * {
  display: block;
  padding: 0.3rem;
}

.bottlecap-list,
.bottlecap-settings-list {
  padding: 0;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.bottlecap-config button {
  background-color: #191a1b;
  color: inherit;
}

.bottlecap-list-header {
  align-items: center;
  background-color: #191a1b;
  padding: 0.3rem 0 0.3rem 0.3rem;
}

.bottlecap-list-item,
.bottlecap-settings-item {
  align-items: center;
  background-color: #121d2b;
  padding: 0.3rem 0 0.3rem 0.3rem;
}

.bottlecap-list-item:nth-child(even),
.bottlecap-settings-item:nth-child(even) {
  background-color: #303d4e;
}

.bottlecap-list-item:last-child,
.bottlecap-settings-item:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.bottlecap-settings-item > input,
.bottlecap-settings-item > select,
.bottlecap-settings-item > .bottlecap-filepicker {
  color: inherit;
  flex: 3;
}

.bottlecap-settings-item > .bottlecap-filepicker > * {
  color: inherit;
}

.bottlecap-settings-item > select option {
  color: inherit;
  background-color: #303d4e;
}

.bottlecap-settings-item > input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.bottlecap-list-item > img {
  height: 36px;
  width: 36px;
}

.bottlecap-create,
.bottlecap-thumb {
  flex: 0 0 36px;
}

.bottlecap-create {
  text-align: center;
}

.bottlecap-name,
.bottlecap-name-label {
  flex: 3;
  padding: 0 0 0 0.3rem;
}

.bottlecap-delete-label,
.bottlecap-action[data-action="delete"] {
  flex: 1;
  padding: 0 0.3rem 0 0;
  text-align: center;
}

.bottlecap-action[data-action="delete"] > i {
  color: rgb(146, 37, 37);
}
